{% load static %}
{% load i18n %}
{% load i18_urls %}

{% get_current_language as lang_code %}

<!DOCTYPE html>
<html lang="{{ lang_code }}">
	<head>
		<meta charset="utf-8">
		<title>Wal-O-Mat</title>
		<link href="{% static 'style.css' %}" rel="stylesheet">
		<link rel="shortcut icon" href="{%  static 'whales/spouting-whale-32x32.png' %}">
	</head>
	<body>
		<main>
			<header>
				{% get_available_languages as languages %}
				{% for lang, name in languages %}
				{% if lang != lang_code %}
				<a href="{% change_lang lang %}"><img class="lang" src="{% static lang|add:'.png' %}" /></a>
				{% endif %}
				{% endfor %}

				<a href="{% url 'index' %}"><h1>Wal-O-Mat 🐋</h1></a>
				<h2>{% block subtitle %}{% endblock %}</h2>
			</header>

			<div class="container">
				{% block content %}
				{% endblock %}
			</div>
		</main>
	</body>
</html>
