{% extends 'layout.html' %}

{% load static %}
{% load i18n %}

{% block subtitle %}
{{ election.title }}
{% endblock %}

{% block content %}
<h3>{% trans 'Welcome to the independent Wal-O-Mat.' %}</h3>

<p>{% trans 'This Wal-O-Mat is dedicated to inform you about the student elections 2019 in the department of Informatics.' %}</p>

<p>{% trans 'The participating parties are RCDS, LitFaS and Die LISTE.' %}</p>

<p>{% trans 'Click through the questions. At the end you will see a comparison between you and the answers of the parties.' %}</p>

{% if first_thesis_id %}
<a href="{% url 'thesis' first_thesis_id %}">Start</a>
{% else %}
{% trans 'There is currently no election.' %}
{% endif %}
{% endblock %}
