{% extends 'layout.html' %}

{% load static %}
{% load i18n %}
{% load tags %}

{% block subtitle %}
{{ election.title }}
{% endblock %}

{% block content %}
<div class="thesis">
	<div>
		<h3>{{ thesis_no }}/{{ theses|length }} {{ thesis.topic }}</h3>

		<p>{{ thesis.thesis }}</p>

		<ul>
			{% for stance_val, stance_desc in stances %}
			<li><a href="{% url 'stance_detail' election.slug thesis_no stance_val %}"><button>{{ stance_desc }}</button></a></li>
			{% endfor %}
		</ul>
	</div>

	<nav>
		<ul>
			{% with theses|length as n %}
			{% for value in 0|create_range:n %}
			<li><a href="{% url 'thesis_detail' election.slug forloop.counter %}"><span class="{% ifequal forloop.counter thesis_no %}active{% endifequal %}">&nbsp;</span></a></li>
			{% endfor %}
			{% endwith %}
		</ul>
	</nav>
</div>
{% endblock %}
