{% extends 'layout.html' %}

{% load static %}
{% load i18n %}

{% block subtitle %}
{{ election.title }}
{% endblock %}

{% block content %}
<div class="thesis">
	<div>
		<h3>{{ thesis_no }}/{{ theses|length }} {{ thesis.topic }}</h3>

		<p>{{ thesis.thesis }}</p>

		<ul>
			{% for a, b in stances %}
			<li><a href="{% url 'stance' thesis.id a %}">{{ b }}</a></li>
			{% endfor %}
		</ul>
	</div>

	<nav>
		<ul>
			{% for thesis in theses %}
			<li><a href="{% url 'thesis' thesis.id %}"><span style="{% ifequal thesis.id thesis_no %} background-color: black{% endifequal %}">&nbsp;</span></a></li>
			{% endfor %}
		</ul>
	</nav>
</div>
{% endblock %}
